
<div class="product-item">
    <div class="product-img">
        <a href="items/@Id">
            @if (String.IsNullOrWhiteSpace(ImageSource))
            {
<img src="/item_image/unknown.jpg"> }
            else
            {
<img src="@ImageSource">            }

        </a>
    </div>
    <div class="product-list">
        <h3>@Name</h3>
        <span class="price">UAH @Price</span>
        <div class="actions">
            <div class="add-to-cart">
                <a href="items/@Id" class="cart-button"></a>
            </div>
        </div>
    </div>
</div>
<style>
    * {
        box-sizing: border-box;
    }

    .product-item {
        width: 45%;
        margin: 0 auto;
        padding: 10px 10px 20px 30px;
        border: 1px solid #eee;
        background: white;
        font-family: "Open Sans";
        overflow: hidden;
        transition: .4s linear;
        float: left;
        margin: 25px;
        left: 30px;
    }

        .product-item:hover {
            transform: scale(1.1);
        }

    .product-img {
        transition: 1s ease-in-out;
    }

        .product-img img {
            display: block;
            width: 100%;
        }

    .product-list {
        margin-top: 15px;
    }

        .product-list h3 {
            font-weight: 700;
            color: #39404B;
            margin: 0;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 2;
        }

    .price {
        color: #000000;
        display: block;
        margin-bottom: 12px;
    }

    .actions {
        border-top: 1px solid #eee;
        padding-top: 4px;
        font-size: 13px;
        height: 30px;
        line-height: 30px;
    }

        .actions:after {
            content: "";
            display: table;
            clear: both;
        }

    .add-to-cart {
        float: left;
    }

    .cart-button {
        text-decoration: none;
        color: #8C877C;
        padding-right: 20px;
        border-right: 1px solid #ddd;
        transition: .4s linear;
    }

        .cart-button:before {
            content: "\f07a";
            font-family: FontAwesome;
            margin-right: 10px;
        }

    .add-to-cart:hover .cart-button {
        color: #E34D38;
    }
</style>
@code { [Parameter]
            public string Id { get; set; }
            [Parameter]
            public string ImageSource { get; set; }
            [Parameter]
            public string Name{ get; set; }
            [Parameter]
            public string Price { get; set; }
            }
