@page "/counter"
@page "/counter/{id}"
<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<h1>Here's int parameter : @Id</h1>
@code {
    private int currentCount = 0;
    private int _id;
    [Parameter]
    public string Id
    {
        get
        {
            return _id.ToString();
        }
        set
        {
            try
            {
                _id = Int32.Parse(value);
            }
            catch
            {
                _id = 0;
            }
        }
    }

    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    private void IncrementCount()
    {
        currentCount += IncrementAmount;
    }
}
